section.hero.intro {
    background-color: #873DEC;
    position:absolute !important;
    width:100vw;
    z-index: 999;
}

section.hero.form {
    background-color: black;
    z-index: -10;
}
.button.is-danger {
    position: static ;
}

article.media{
    width:59vw;
}

.button.is-danger {
    position: static ;
    width: 50%;
}
.button.is-success {
    position: static ;
}
.input, .textarea {
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    width: 50%;
    position: static;
}

body{
    overflow: hidden
}
@media (max-width: 360px){
    .input, .textarea{ 
        width: 100% !important;
    }
    .button.is-danger {
        height:6vh;
        width: 100% !important;
    }
    article.media{
        width:100%;
    }
}